a {
  text-decoration: none;
  color: #e5e7eb;
}
.smalltext {
  font-size: 18px;
  color: #e5e7eb;
}
.sb1 {
  background-color: #1f2937;
  font-size: 18px;
  color: #e5e7eb;
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
}
.header {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
.links {
  gap: 100px;
  padding-top: 10px;
  margin-right: 50px;
}
.logo {
  padding-left: 40px;
  margin-left: 40px;
  font-size: 36px;
  font-weight: 900;
  color: #f9faf8;
  display: flex;
}
.links {
  gap: 10px;
  padding-right: 50px;
  display: flex;
}

.sb1-1 {
  display: flex;
  justify-content: center;
  padding: 50px;
  align-items: center;
}
.imgholder1 {
  border: seashell 1px solid;
  width: 400px;
  height: 200px;
  padding: 10px;
  background-color: aliceblue;
}
.imgholder1 img {
  height: 100%;
  width: 100%;
}
.awesome {
  display: flex;

  width: 400px;
  height: 200px;
  font-size: 18px;
  color: #e5e7eb;
  flex-direction: column;
  padding: 20px;
}
.highlight {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
}
button {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 5px;
  width: 100px;
  margin-top: 20px;
  border-radius: 10px;
  border: #f9faf8 solid 1px;
}
.sb2 {
  display: flex;
  flex-direction: column;
}
.sb2-header {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  text-align: center;
  padding: 20px;
}
.sb2-content {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding-bottom: 30px;
}
.sb2-box {
  display: flex;
  flex-direction: column;
}

.square {
  border: solid #3882f6 2px;
  border-radius: 10px;
  height: 120px;
  width: 120px;
  margin-bottom: 15px;
}
.inf {
  height: 120px;
  width: 120px;
  flex-wrap: nowrap;
  font-size: 18px;
  color: #8e9196;
  text-align: center;
}
.sb3 {
  display: flex;
  background-color: #e5e7eb;
}
.sb3-inf {
  color: #1f2937;
  font-size: 36px;
  font-weight: 800px;
  padding: 120px;
  font-family: Georgia, Times, "Times New Roman", serif;
  text-align: justify;
}
.quote {
  font-size: 36px;
  font-weight: 800;
  padding-left: 200px;
}
.sb4 {
  display: flex;
  background-color: #f9faf8;
  justify-content: center;
  align-content: center;
  padding: 60px;
}
.sb4-box {
  display: flex;
  background-color: #3882f6;
  border-radius: 25px;
  padding-left: 100px;
  padding-right: 100px;
}
.sb4-box-inf {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.sb4-p {
  font-weight: 700;
  font-size: 18px;
  color: #e5e7eb;
}
.sb4-p1 {
  align-self: center;
}
